{% extends "base.html" %}
{% block content %}

<div class="fh5co-loader"></div>

<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="index.html">Our Wedding<strong>.</strong></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
				</div>
			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(static/images/img_bg_2.jpg);"
	 data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Christopher &amp; Angela</h1>
							<h2>07/13/2019</h2>
							<div class="simply-countdown simply-countdown-one"></div>
							<p><a href="#fh5co-started" class="btn btn-default btn-lg btn-block">RSVP</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- This is where I'm starting to mess around-->

	<div id="fh5co-couple" >
		<div class="container">
			<h2 style="text-align: center">Warwick Farms, Mount Vernon, OH</h2>
			<div class="row row-bottom-padded-md" style="display: block;">
				<ul id="fh5co-gallery-list">
					<li class="one-third animate-box fadeIn animated-fast" data-animate-effect="fadeIn" style="background-image: url(static/images/paris.jpg); ">
						<div class="case-studies-summary"></div>
					</li>
					<li class="one-third animate-box fadeIn animated-fast" data-animate-effect="fadeIn" style="background-image: url(static/images/paris2.jpg); ">
						<div class="case-studies-summary"></div>
					</li>
					<li class="one-third animate-box fadeIn animated-fast" data-animate-effect="fadeIn" style="background-image: url(static/images/paris3.jpg); ">
						<div class="case-studies-summary"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<hr>
</hr>

		<!-- This is where I've stopped-->


	<div id="fh5co-couple">
		<div class="container">
			<div class="row">
				<h2 style="text-align: center;">
					The Lovely Couple
				</h2>
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h3>Tell us about your betrothed!</h3>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src="static/images/justchris.jpg" alt="groom" class="timeline-badge">
					</div>
					<div class="desc-groom">
						<h3>Christopher William</h3>
						<p>Christopher is the most wonderful, handsome, and charming man I know.  He is thoughtful, selfless, and has the sweetest servant's heart. He steps in to meet the needs of others even when he is not asked to do so. What I love most about him is the way his love for God manifests itself in how he constantly cares for others and puts them first. Not to mention he has a brilliant mind and is crazy talented at running! </p>
					</div>
				</div>
				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src="static/images/justangie.jpg" alt="groom" class="timeline-badge">
					</div>
					<div class="desc-bride">
						<h3>Angela Megan</h3>
						<p>Angie is the kind of beautiful that makes you turn your head when you notice her walk into a room. Then the
							first time I heard her speak she hit me with a depth and genuineness that completely caught me off guard. I was
							struck by the genuineness of her faith when she wanted to know about dinosaurs and how they work with the Bible.
							The way that she cares deeply and truly for everyone she meets encourages and challenges me every day. I've
							never met someone who is so fun and easy to spend an entire day with. We could have incredible deep
							conversation, or do nothing exceptional at all, and it would still be a perfect day.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url(static/images/img_bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Our Special Events</span>
					<h2>Wedding Events</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-10 col-md-offset-1">
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Main Ceremony</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>4:30 PM</span>
										<span>5:00 PM</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Saturday 13</span>
										<span>July, 2019</span>
									</div>
									<p>Warick Farms</p>
									<p>16620 Wells Rd. Mt. Vernon, Ohio</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Reception</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>6:00 PM</span>
										<span>10:00 PM</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Saturday 13</span>
										<span>July, 2019</span>
									</div>
									<p>Warwick Farms</p>
									<p> 16620 Wells Rd. Mt. Vernon, Ohio
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-couple-story">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Angela and Christopher</span>
					<h2>Our Story</h2>
					<p>We met at Cornerstone Community Church in 2017, and it was rather serendipitous.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline animate-box">
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(static/images/meet.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">First We Meet</h3>
									<span class="date">December 15, 2017</span>
								</div>
								<div class="timeline-body">
									<p>Given her task of raising support for Campus Outreach, Angie set up a support appointment with Chris. As
										things would turn out, Chris realized he had a crush at this point</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(static/images/firstdate.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">First Date</h3>
									<span class="date">February 2, 2018</span>
								</div>
								<div class="timeline-body">
									<p>Chris called Angie to ask for a date toward the end of January, and soon enough the two were sipping coffee
										together on their first date.</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(static/images/realize.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Angie Realizes She Likes Chris</h3>
									<span class="date">February 24, 2018</span>
								</div>
								<div class="timeline-body">
									<p>It took some time, but soon Angie searched her feelings and knew it to be true.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(static/images/official.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Official</h3>
									<span class="date">March 24, 2018</span>
								</div>
								<div class="timeline-body">
									<p>Angie and Chris decided to define their relationship and make things official.</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(static/images/inbetween.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">2018</h3>
									<span class="date">The in-between</span>
								</div>
								<div class="timeline-body">
									<p>Many wonderful adventures and relationship building exercises were completed.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
								<div class="timeline-badge" style="background-image:url(static/images/engaged.jpg);"></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Engaged</h3>
										<span class="date">December 22, 2018</span>
									</div>
									<div class="timeline-body">
										<p>Chris popped the question in one of Angie's favorite places: the bookloft.</p>
									</div>
								</div>
							</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-gallery" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Our Memories</span>
					<h2>Relationship Photographs</h2>
					<p>We have had a wonderful relationship up until this point.</p>
				</div>
			</div>
			<div class="row row-bottom-padded-md">
				<div class="col-md-12">
					<ul id="fh5co-gallery-list">

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(static/images/gallery-42.jpg); ">
							<div class="case-studies-summary">
							</div>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(static/images/gallery-43.jpg); ">
							<div class="case-studies-summary">

							</div>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(static/images/gallery-48.jpg); ">
							<div class="case-studies-summary">
							</div>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(static/images/gallery-45.jpg); ">
							<div class="case-studies-summary">
							</div>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(static/images/gallery-46.jpg); ">
							<div class="case-studies-summary">
							</div>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(static/images/gallery-47.jpg); ">
							<div class="case-studies-summary">
							</div>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(static/images/gallery-1.jpg); ">
							<div class="case-studies-summary">
							</div>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(static/images/gallery-2.jpg); ">
							<div class="case-studies-summary">
							</div>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(static/images/gallery-3.jpg); ">
							<div class="case-studies-summary">
							</div>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(static/images/gallery-4.jpg); ">
							<div class="case-studies-summary">
							</div>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(static/images/gallery-5.jpg); ">
							<div class="case-studies-summary">
							</div>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(static/images/gallery-6.jpg); ">
							<div class="case-studies-summary">
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Registry Begin-->
	<!-- This whole section is atrocious, commenting out for now
		<div id="fh5co-event" class="fh5co-bg" style="background-image:url(static/images/img_bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Our Wedding Registry</span>
					<h2>Please follow the link below to find our regsitry information.</h2>
				</div>
			</div>
			</div>
			<header>
			<center>
			<p><a href="#" class="btn btn-default btn-sm">
				<a href="https://www.blueprintregistry.com/registry/angiechrisludwig">Blue Print Registry</a>
				</a>
			</p>
			</center>
			</header>
			</div>
		-->
	<!-- Registry End-->

	<div id="fh5co-testimonial">
		<div class="container">
			<div class="row">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Registry Information</h2>
						<span>Please follow the link below to view our registry</span>
					</div>
				</div>
				<center>
				<p>
					<h1><a href="https://www.blueprintregistry.com/registry/angiechrisludwig">Blue Print Registry</a></h1>
				</p>
				</center>		
			</div>
				</div>
			</div>
		</div>
	</div>

	<!-- RSVP Form Start -->
	<div id="fh5co-started" class="fh5co-bg" style="background-image:url(static/images/img_bg_4.jpg);">
		<div class="background" id="rsvp" style="text-align:center">
			{% with messages = get_flashed_messages() %} {% if messages %}
			{% for message in messages %}
			<div class="row" style="margin-top: 2%; font-style: italic">
				<div class="alert alert-danger col-md-8 col-md-offset-2" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					{{ message }}
				</div>
			</div>
			{% endfor %}
			{% endif %} {% endwith %}
		</div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Are You Attending?</h2>
					<p>
						Please complete the form below to notify us that you're attending. Thanks!
					</p>
				</div>
			</div>
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfc4GbtA0c39TryLKXvL5nZ7_dNB05CV-T7I9n_yKFumhVpcw/viewform?embedded=true" width="100%" height="750" frameborder="0" marginheight="0" marginwidth="0"></iframe>
		
<!--	
			<form action="/rsvp" method="post" class="form-inline">
				<div class="row animate-box">
					{{ form.csrf_token }}
					<div class="col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2">
						<div class="form-group">
							{{ form.name.label }}
							{{ form.name(size=32, class_="form-control") }}
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="form-group">
							{{ form.email.label }}
							{{ form.email(size=32, class_="form-control") }}
						</div>
					</div>
					<div class="col-md-2 col-sm-2">
						<div class="form-group">
							{{ form.attending.label }}
							{{ form.attending(class="form-control") }}
						</div>
					</div>
				</div>
				<div class="row animate-box">
					<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4" style="margin-top:3%">
						{{ form.submit(class_="btn btn-default btn-block") }}
					</div>
				</div>
			</form>
-->
		</div>
	</div>
	<!-- RSVP Form End -->

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> Demo Images: <a
							 href="http://unsplash.co/" target="_blank">Unsplash</a></small>
					</p>
					<p>
						
					</p>
				</div>
			</div>

		</div>
	</footer>
</div>
{% endblock %}
